- form_vars = [campaign, game, subject, comment] if subject.is_a? Post
- form_vars = [campaign, subject, comment] if subject.is_a? Idea
= simple_form_for(form_vars) do |f|
  = f.error_notification

  .form-inputs
    = f.input :content, label: false, placeholder: "Content", input_html: { style: 'min-height: 20em;' }

  .form-actions
    = f.button :submit, class: 'btn btn-success'
