<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello, <%= @game_master.name %>!</h2>
    <p>
      here is new idea <%= link_to @idea.title, campaign_idea_path(@campaign, @idea, only_path: false) %> in <%= @campaign.name %> campaign.
    </p>
  </body>
</html>
