.events
  %div{"ng-app" => "EventsApp", "ng-controller" => "EventsIndexController"}
    .event-row{"ng-repeat" => "event in events"}
      .panel.paned-default
        .panel-heading
          %h4.panel-title
            {{ event.name }}
        .panel-body
          .container
            %span{ "ng-repeat" => "option in event.event_options", class: "{{ selectClass(option) }}" }
              {{ option.day }}
              {{ option.hour }}
        .panel-footer
          {{ event.date }}
