= simple_form_for([campaign, game, post]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :content, label: false, placeholder: "Content"

  .form-actions
    = f.button :submit, class: 'btn btn-success'
