= simple_form_for :campaign, url: campaign_change_money_url(campaign.id) do |f|
  = f.error_notification

  .container
    .row
      .col-xs-2
        .form-inputs
          = f.input :money_change, placeholder: 'Change money', label: false
      .col-xs-10
        .form-actions
          = f.button :submit, 'Change'
