%h1 Editing Hero

= render partial: 'form', locals: { method: :patch, url: campaign_hero_path(campaign, hero) }

.button-margin
  = link_to campaign_heroes_path(campaign), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-chevron-left
    &nbsp;
    Back
