%h1 New Hero

= render partial: 'form', locals: { method: :post, url: campaign_heroes_path(campaign) }

%p
= link_to campaign_heroes_path(campaign), class: 'btn btn-default' do
  %span.glyphicon.glyphicon-chevron-left
  &nbsp;
  Back
