// Place all the styles related to the campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, *:before, *:after {box-sizing:  border-box !important;}

.campaign-row {
  .panel {
    background-color: whitesmoke;
    border: 1px solid #e3e3e3;
  }

  a:hover {
    text-decoration: none;
  }

  a {
    color: #333333;
  }

  .panel-title {
    color: #337ab7;
  }

  .panel-footer {
    border-top: none;
  }

  .description {
    padding-left: 3%;
    padding-right: 3%;
  }

  .badge {
    min-width: 45px;
    margin-right: 5px;
    padding: 3px 10px;
  }

  .glyphicon {
    margin-right: 3px;
  }

  .member-badge {
    background-color: #5cb85c;
  }
}

#game-tiles {
  width: 100%;
  text-align: center;
  .row {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
  }
}

.item {
  display: inline-block;
  padding:  .25rem;
  width:  100%;
}

.campaign-game-name {
  margin-top: 2em;
  margin-bottom: 2em;
}

.well {
  position: relative;
  display: block;

  .well-bottom-right {
    position: absolute; bottom: 5%; right: 5%;
  }
  .well-bottom-left {
    position: absolute; bottom: 5%; left: 5%;
  }
}
